<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cartisan </title>

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!--our CSS-->
    <link rel="stylesheet" href="../style.css">

    <!--BootstrapJs-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <!--Font-awsome JS-->
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js"
            integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l"
            crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js"
            integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c"
            crossorigin="anonymous"></script>


</head>
<body class="bg-img">
<nav class="navbar navbar-expand-lg navbar-light navbar-custom">
    <a class="navbar-brand" href="#">
        <img src="../logo.png" class="d-inline-block align-top wdth175">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!--<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>-->
</nav>
<div class="container-fluid mx-auto mCntr">
    <div class="gt56 row mx-auto">
        <ul class="jy786">
            <li class="px-0 py-3">
                <div class="row">
                    <div class="col-2 px-0">
                        <img src="../img/car.png" class="img-fluid">
                    </div>
                    <div class="col-10 px-0">
                        <div class="row fntwgt clrFnt  pt-2 pb-1 px-4"
                             style="font-size: 1.28em;font-weight: 600;text-transform: capitalize">
                            Don't know what's wrong with your car?
                        </div>
                    </div>
                </div>
            </li>
            <li class="px-0 py-3">
                <div class="row">
                    <div class="col-2 px-0">
                        <img src="../img/service.png" class="img-fluid">
                    </div>
                    <div class="col-10 px-0">
                        <div class="row fntwgt clrFnt  pt-2 pb-1 px-4"
                             style="font-size: 1.28em;font-weight: 600;text-transform: capitalize">
                            Can't find trusted service workshops?
                        </div>
                    </div>
                </div>
            </li>
            <li class="px-0 py-3">
                <div class="row">
                    <div class="col-2 px-0">
                        <img src="../img/money.png" class="img-fluid">
                    </div>
                    <div class="col-10 px-0">
                        <div class="row fntwgt clrFnt  pt-2 pb-1 px-4"
                             style="font-size: 1.28em;font-weight: 600;text-transform: capitalize">
                            Not sure you're being charged the right amount?
                        </div>
                    </div>
                </div>
            </li>
            <li class="px-0 py-3">
                <div class="row">
                    <div class="col-2 px-0">
                        <img src="../img/mark.png" class="img-fluid">
                    </div>
                    <div class="col-10 px-0">
                        <div class="row fntwgt clrFnt  pt-2 pb-1 px-4"
                             style="font-size: 1.28em;font-weight: 600;text-transform: capitalize">
                            Available in Bangalore, Gurgaon, Mumbai & Pune
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="overl_ay px-0 py-0">
            <div class="card text-center bg-n">
                <div class="card-body">
                    <img src="../img/sm.png" class="img-fluid" style="height: 80px">
                    <h4 class="card-title">
                        Register Your service request
                    </h4>
                    <form name="ownMod">
                        <div class="form-group">
                            <input type="text" class="form-control form-control-sm" id="name" placeholder="Full Name"
                                   required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control form-control-sm" id="phone"
                                   placeholder="Phone Number" required maxlength="10"
                                   onkeypress="return isNumberKey(event)">
                        </div>
                        <div class="form-group">
                            <select class="form-control form-control-sm" id="carModel" required>
                                <option value="not" selected disabled>Choose Your Car Model</option>
                                <option value="TATA Tiago1">TATA Tiago</option>
                                <option value="TATA Tiago2">TATA Tiago</option>
                                <option value="TATA Tiago2">TATA Tiago</option>
                                <option value="TATA Tiago2">TATA Tiago</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control form-control-sm" placeholder="Service Request" id="serReq"
                                      rows="3" required></textarea>
                        </div>
                        <div class="form-group form-group-sm" data-toggle="tooltip" data-placement="bottom"
                             title="Click to Upload Your Car Images">
                            <label class="btn btn-default">
                                Upload Car Images <input accept="image/x-png,image/gif,image/jpeg;capture=camera"
                                                         id="glary" multiple type="file" hidden>
                            </label>
                        </div>
                        <div class="gallery mb-3"></div>

                        <div class="text-center">
                            <button type="button" class="btn btn-info btn-sm btn-block" id="subOnrDet">
                                Send Request
                            </button>

                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <!--confirm Modal-->
    <div class="modal fade" id="confirmmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thank You</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    You Have Successfully submited your request
                </div>
                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
                    <button type="button" class="btn btn-info" onclick="cntnu()">Continue</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Our Script-->
<script src="../js/upload.js"></script>
<script src="../js/owner.js"></script>
</body>
</html>